
@model Company

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Id != 0? "Update": "Create") Company</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 mb-5">

        <form asp-controller="Company" asp-action="Upsert" method="post" enctype="multipart/form-data" class="row mb-5">
            <input asp-for="Id" hidden />
           
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">

                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="Name" />
                            <label class="ms-2" asp-for="Name"></label>

                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="PhoneNumber" />
                            <label class="ms-2">Phone Number</label>

                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" asp-for="StreetAddress" />
                            <label class="ms-2">Address</label>

                            <span class="text-danger" asp-validation-for="StreetAddress"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="City" />
                            <label class="ms-2">City</label>

                            <span class="text-danger" asp-validation-for="City"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="State" />
                            <label class="ms-2" asp-for="State"></label>

                            <span class="text-danger" asp-validation-for="State"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input class="form-control border-0 shadow" asp-for="PostalCode" />
                            <label class="ms-2" asp-for="PostalCode"></label>

                            <span class="text-danger" asp-validation-for="PostalCode"></span>
                        </div>
                      
                        <div class="row pt-3">
                            <div class="col-6 col-md-4 col-lg-3">
                                @if (Model.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }

                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a asp-controller="Company" asp-action="Index" class="btn btn-outline-secondary border form-control"> Back to List</a>
                            </div>
                        </div>


                    </div>
                </div>
              
            </div>
            
        </form>
    </div>
</div>



@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Sep 20, 2024:
                'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>

    @* Clinet Side Validation *@
    <partial name="_ValidationScriptsPartial"></>
}